@import url(https://fonts.googleapis.com/css?family=Poppins);@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,700);html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Poppins, sans-serif;
  color: #222;
  background-size: cover;
  position: relative;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navbar {
  padding: 0.8rem;
}

.navbar li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px black;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 10px black;
}

.btn-primary {
  border: 1px solid #217ac3;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: solid 2px #b4b4b4;
  width: 95%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.fa-newspaper {
  color: pink;
}

.fa-apple-alt {
  color: chartreuse;
}

.fa-question {
  color: orange;
}

.fa-question,
.fa-apple-alt,
.fa-newspaper {
  font-size: 4em;
  margin: 1rem;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

footer img {
  height: 50px;
  width: 50px;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

footer a {
  color: #d5d5d5;
  text-decoration: none;
  padding-top: 2rem;
}

footer a:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.centered-text {
  text-align: center;
}

.login-card {
  width: 350px;
  background: rgba(255, 255, 255, 0.479);
  color: white;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 70px;
  margin-top: 70px;
}

.login-card-avatar {
  width: 100px;
  height: 110px;
  position: absolute;
  top: -50px;
  color: white;
  border-radius: 50%;
  left: calc(50% - 50px);
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.medical-card {
  width: 300px;
  height: 550px;
  background-color: #f1eded;
  border-radius: 5px 20px 5px;
  margin: 0;
  padding: 0;
}

.medical-card-image {
  width: 298px;
  height: 300px;
  background-size: contain;
  border-radius: 5px 20px 0px 0px;
  margin-bottom: 10px;
  background-color: white;
}

.medical-card-btn {
  width: 100%;
  height: 67px;
  border-radius: 5px 5px 5px 20px;
  padding: 0;
  margin-top: 3px;
  transition-duration: 0.4s;
}

.medical-control-set {
  background-color: rgba(255, 255, 255, 0.102);
  width: 40%;
  transform: translate(7%, 640%);
  position: absolute;
}

.medical-control-set-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  border: none;
  margin: auto;
  transition-duration: 0.4s;
}

.medical-btn-edit {
  background-image: url("/images/edit.png");
  background-size: cover;
}

.medical-btn-delete {
  background-image: url("/images/delete.png");
  background-size: cover;
}

.medical-control-set-btn:hover {
  -webkit-filter: brightness(1.25);
  filter: brightness(1.25);
}

.medical-control-set-btn:focus {
  border-color: transparent !important;
  outline: none;
}

.my-fab {
  width: 70px;
  height: 70px;
  background-color: rgba(92, 255, 92, 0.863);
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;
  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;
  position: -webkit-sticky;
  position: sticky;
  float: right;
  bottom: 100px;
  margin-bottom: 15px;
}

.my-fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgba(33, 241, 33, 0.863);
  color: white;
}

.my-h1 {
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

/*---Media Queries --*/

/*---Firefox Bug Fix --*/

/*--- Bootstrap Padding Fix --*/

[class*=col-] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.recipe-card {
  background: #fff;
  margin: 4em auto;
  width: 90%;
  max-width: 496px;
}

.recipe-card aside {
  position: relative;
}

.recipe-card aside img {
  height: 200px;
  width: 100%;
}

.recipe-card aside .button {
  background: #57abf2;
  display: inline-block;
  position: absolute;
  top: 80%;
  right: 3%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
}

.recipe-card aside .button .icon {
  vertical-align: middle;
}

.recipe-card article {
  padding: 1.25em 1.5em;
}

.recipe-card article h2,
.recipe-card article h3 {
  margin: 0;
  font-weight: 300;
}

.recipe-card article h2 {
  font-size: em(28);
  color: #222222;
}

.recipe-card article h3 {
  font-size: em(15);
  color: #838689;
}

.recipe-card article p {
  margin: 1.25em 0;
  font-size: em(13);
  font-weight: 400;
  color: #222222;
  word-wrap: break-word;
  max-height: 7em;
  line-height: 1.8em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.recipe-card article p span {
  font-weight: 700;
  color: #000000;
}

.recipe-card .icon {
  display: inline;
  display: inline-block;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
  background-repeat: no-repeat;
}

.recipe-card .icon-play,
.recipe-card .icon-play\:regular {
  background-position: 0 -58px;
  width: 21px;
  height: 26px;
}

.deit-control-set {
  background-color: rgba(255, 255, 255, 0.102);
  width: 40%;
  transform: translate(3%, -110%);
  position: absolute;
}

